
<mat-sidenav-container class="example-container" hasBackdrop = false fullscreen >
    <mat-sidenav #drawer mode= 'side' layout = "column"  >
      <mat-list>
        <a mat-list-item ><mat-icon>home</mat-icon>Home</a>
        <a mat-list-item ><mat-icon>router</mat-icon>Route</a>
        <a mat-list-item ><mat-icon>location_on</mat-icon>Maps</a>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>

      <mat-toolbar style ="height: 40px; color: white; background-color: #4d607e">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click) = "drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span style="font-size: 35px;"><b>BizStride</b></span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with ad_group icon">
          <mat-icon>ad_group</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>

      <div>
      <mat-grid-list cols="9" rows = "2" [scrollLeft] = "false" [gutterSize]="'10px'" rowHeight="20rem" style = "margin-left: 10px; margin-right: 10px; margin-top: 20px;">
        <mat-grid-tile rowspan="2" colspan="3" class = "routes-main-cont">
          <div style="width: 100%; height: 100%;">

            <div style="width: 100%; height: 50px; display: flex">
              <p style = "flex: 0.95; padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; 
              font-size: 16px;
              font-family: system-ui;"><b>Status Overview</b></p>
              <button style = "    margin-top: 10px;
                margin-bottom: 10px;
                margin-right: 10px;
                background-color: white;
                border: 1px solid lightgrey;
                border-radius: 2px;
                flex: 0.05;
                color: #707070;">
                <mat-icon>fullscreen</mat-icon>
              </button>
            </div>

            <div style="width: 100%; height: 30px; margin-left: 10px; margin-right: 10px; display: inline-flex;">


              <mat-button-toggle-group #group="matButtonToggleGroup" style="margin-right: 10px; height: 30px; height: 25px; top: 2px; border-color: #038d76;">
                <mat-button-toggle value="left" aria-label="Text align left" class="truck-toggle-btn-example;" style="
                font-size: 14px; color: #038d76">
                  All
                </mat-button-toggle>
                <mat-button-toggle value="left" aria-label="Text align left" class="truck-toggle-btn-example">
                  <mat-icon style="font-size: 18px; color: #038d76">local_shipping</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="left" aria-label="Text align left" class="truck-toggle-btn-example">
                  <mat-icon style="font-size: 18px; color: #038d76">storefront</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="left" aria-label="Text align left" class="truck-toggle-btn-example">
                  <mat-icon style="font-size: 18px; color: #038d76">splitscreen</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>

              <mat-form-field style="flex: 0.95; margin-right: 10px; flex-direction: unset; margin-left: 40px;  margin-left: 100px;" appearance="outline">
                <input matInput placeholder="Search" >
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>

              <button style = "    /* margin-bottom: 20px; */
                margin-right: 20px;
                background-color: white;
                border: 1px solid lightgrey;
                border-radius: 2px;
                flex: 0.05;
                color: #707070;">
                <mat-icon>filter_alt</mat-icon>
                </button>

            </div>

            <div style = "padding-top: 5px;
              margin-left: 5px;
              margin-right: 5px;
              margin-top: 10px;
              border-top: 1px solid lightgrey;
              height: calc(100% - 100px);">
              <mat-grid-list cols="2" [gutterSize]="'5px'" rowHeight="8rem" class="cls-routebox-outer-grid">
                <mat-grid-tile rowspan="1" colspan="1" class="cls-routebox-gridlay"  *ngFor="let jsData of jsonData">
                  <app-routebox style="width:96%"   [routes]="jsData"></app-routebox>
                </mat-grid-tile>
              </mat-grid-list>
            </div>

            <!-- <div>
              <app-routebox></app-routebox>
            </div> -->
          </div>
        </mat-grid-tile>
        <mat-grid-tile rowspan="1" colspan="6" class = "map-main-cont">1</mat-grid-tile>
        <mat-grid-tile rowspan="1" colspan="6" class = "details-main-cont">1</mat-grid-tile>
        <!-- <mat-grid-tile>
          <mat-grid-list cols="1" rowHeight="3:1">
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
          </mat-grid-list>
        </mat-grid-tile> -->
      </mat-grid-list>
    </div>
    </mat-sidenav-content>

    

</mat-sidenav-container>


<!-- <ag-grid-angular #logGrid
        style="width: 100%; height: 100%;"
          [class]="themeClass"
          [rowData]="rowData"
          [columnDefs]="colDefs"
          [defaultColDef]="defaultColDef"
          (gridReady)="onGridReady($event)"
          [rowSelection]="rowSelection"
          [pagination]=true
          [paginationPageSize]=3
          [paginationPageSizeSelector]="[1, 3, 5]">
        </ag-grid-angular>

        <button mat-raised-button color="accent" 
      (click)="onExport()">Export To Excel</button> -->