.example-spacer {
    flex: 1 1 auto;
}  

.example-container {
    height: 100%;
    width: 100%
}

.routes-main-cont{
    border: 1px solid lightgray;
    border-radius: 5px;
    /* margin: 10px 5px 5px 5px !important; */
}


.map-main-cont{
    border: 1px solid lightgray;
    border-radius: 5px;
    /* margin: 10px 5px 5px 5px !important; */
}

.details-main-cont{
    border: 1px solid lightgray;
    border-radius: 5px;
}


.mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
    padding: 0 2px !important;
    line-height:normal;
}

.truck-toggle-btn-example{
    width: 25px; 
    height: 30px; 
    align-content: center;
}

.cls-routebox-outer-grid{
    height: 100% !important; 
    overflow-x: hidden;
}