<div style = "display: inline-block; border: 1px solid lightgrey; /* margin: 10px 10px 10px 10px; */ border-radius: 5px; box-shadow: 5px 5px 20px lightgrey; width: 100%">
    <div style = "display: inline-flex; flex-direction: row; height: 30px; width:100%; margin-top: 10px">
        <mat-icon style = "flex:0.15; margin-left: 10px;  margin-top: 5px; font-size: 20px; height: 20px">{{ routes.icon }}</mat-icon>
        <div style = "border: 1px solid #038d76; border-radius: 5px; display: inline-flex; flex:0.9; margin-left: 10px ; margin-right: 10px; color: #038d76; overflow: hidden" *ngIf="routes.location && routes.location != ''; else elseBlock">
            <mat-icon style = "margin-top: 5px; font-size: 20px; height: 20px;" >location_on</mat-icon>
            <mat-label style = "margin-top: 5px; margin-left: 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;"><b>{{ routes.location }}</b></mat-label>
        </div>
         
        <ng-template #elseBlock>
            <div style = "border: 1px solid #038d76; border-radius: 5px; display: inline-flex; flex:0.9; margin-left: 10px ; margin-right: 10px; color: #038d76; overflow: hidden; opacity: 0.4">
                <mat-icon style = "margin-top: 5px; font-size: 20px; height: 20px;" >location_on</mat-icon>
            <mat-label style = "margin-top: 5px; margin-left: 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;">No location</mat-label>
            </div>
        </ng-template>
    </div>
    <div style = "display: inline-flex; flex-direction: row; height: 28px; margin-top: 10px; width: 100%;">
        <mat-form-field appearance="outline" floatLabel="always" class="cls-customfieldflex-route">
            <mat-label style="font-size:12px">Route #</mat-label>
            <input matInput placeholder="2330" style="font-size: 13px;" [value]="routes.employeeId">
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always" class="cls-customfieldflex-employee">
            <mat-label style="font-size:12px">Employee</mat-label>
            <input matInput placeholder="331 - Richard Fichtens" style="font-size: 13px;" [value]="routes.employeeName">
        </mat-form-field>
    </div>
    <div style = "display: inline-flex; flex-direction: row; width: 100%; font-size: 10px; margin-top: 10px">
        <mat-label style = "white-space: nowrap; margin-left: 10px;">Route Complete</mat-label> 
        <mat-progress-bar mode="determinate" value="20" style = "color: #038d76; margin-left: 10px; margin-right: 10px; top: 4.5px"></mat-progress-bar> 
        <mat-label style = "white-space: nowrap; margin-right: 10px;">1/5 (20%)</mat-label>
    </div>
    <div style = "display: inline-flex; flex-direction: row; margin-top: 2px; width: 100%; font-size: 10px">
        <div style = "display: inline-flex; flex-direction: row; border-top: 1px solid lightgrey; margin-left: 10px ; margin-right: 10px; width: 100%; justify-content: space-between;">
            <p style= "margin: 5px 0 5px 0">Departure Time: {{ routes.durationTime }}</p>
            <p style= "margin: 5px 0 5px 0">Cases: {{ routes.cases }}</p>
        </div>
    </div>
</div>
